// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2021 Thomas Schmidt <spitzbube@mail.bg>
 */

#include <dt-bindings/pinctrl/mb86h60.h>

/ {
	compatible = "fujitsu,mb86h60";
	#address-cells = <1>;
	#size-cells = <1>;

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;

		gpio: gpio@c3000000 {
			compatible = "fujitsu,mb86h60-gpio";
			reg = <0xc3000000 0x1000>;
			pinctrl_uart0: gpio_uart0 {
				fujitsu,function = <MB86H60_GPIO_IN_UART0_DATA MB86H60_GPIO_OUT_UART0_DATA>;
				fujitsu,pins = <32 33>;
			};
			pinctrl_uart1: gpio_uart1 {
				fujitsu,function = <MB86H60_GPIO_IN_UART1_DATA MB86H60_GPIO_OUT_UART1_DATA>;
				fujitsu,pins = <35 34>;
			};
			pinctrl_spiflash: gpio_spiflash {
				fujitsu,function = <MB86H60_GPIO_IN_SFLASH_DATA 
									MB86H60_GPIO_OUT_SFLASH_HOLD
									MB86H60_GPIO_OUT_SFLASH_CS
									MB86H60_GPIO_OUT_SFLASH_CLK
									MB86H60_GPIO_OUT_SFLASH_DATA>;
				fujitsu,pins = <43 44 45 46 47>;
			};
			pinctrl_ssp0: gpio_ssp0 {
				fujitsu,function = <MB86H60_GPIO_IN_SSP0_DATA
									MB86H60_GPIO_OUT_SSP0_OE
									MB86H60_GPIO_OUT_SSP0_FFS 
									MB86H60_GPIO_OUT_SSP0_CLK									
									MB86H60_GPIO_OUT_SSP0_DATA>;
				fujitsu,pins = <43 44 45 46 47>;
			};
		};

		uart0: serial@c2000000 {
			compatible = "arm,pl011";
			reg = <0xc2000000 0x1000>;
			clock = <81000000>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart0>;
		}; 

		uart1: serial@ce000000 {
			compatible = "arm,pl011";
			reg = <0xce000000 0x1000>;
			clock = <81000000>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_uart1>;
		}; 

		spiflash: spiflash@c0000000 {
			compatible = "fujitsu,mb86h60-spiflash";
			reg = <0xc0000000 0x1000>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_spiflash>;
			#address-cells = <1>;
			#size-cells = <0>;

			flash0: flash@0 {
				compatible = "jedec,spi-nor";
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <1>;
/*
				partition@00000000 {
					label = "U-Boot";
					reg = <0x0 0xC0000>;
				};

				partition@000C0000 {
					label = "env";
					reg = <0xC0000 0x2000>;
				};
				
				partition@000C2000 {
					label = "splash";
					reg = <0xC2000 0x13e000>;
				}; 
*/
			};
		};

		ssp0: ssp@d1000000 {
			compatible = "arm,pl022-spi";
			reg = <0xd1000000 0x1000>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_ssp0>;
			#address-cells = <1>;
			#size-cells = <0>;
			flash1: flash@0 {
				compatible = "jedec,spi-nor";
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <1>;
			};
		};

		ssp1: ssp@d4000000 {
			compatible = "arm,pl022-spi";
			reg = <0xd4000000 0x1000>;
		};
		
		dma: dma@c7000000 {
			compatible = "fujitsu,mb86h60-dma";
			reg = <0xc7000000 0x800>;
		};
					
		usb0: usb@c7000800 {
			compatible = "fujitsu,mb86h60-musb";
			reg = <0xc7000800 0x1000>, <0xc7000014 0x04>;
			reg-names = "usb-base", "usb-mode";
		};
		
	};

};

